<%-include('header')-%>

<div class="container">

  
  <!-- Dashboard Heading -->
  <div class="row mt-5 ">
    <div class="col-md-5">
      <h1>Admin Dashboard</h1>
    </div>
    <div class="col-md-4">
      <input
        type="text"
        id="filter-input"
        class="form-control"
        placeholder="Filter..."
      />
    </div>
    <div class="col-md-2 text-end w-0">
      <a href="/add" class="btn btn-success">Create User</a>
    </div>
    <div class="col-md-1 text-end">
      <button id="adminLogoutBtn" class="btn btn-danger">Logout</button>
    </div>
  </div>
  
  <!-- User Listing Table -->
  <div class="row mt-3" id="formContainer">
    <div class="col">
      <table class="table table-responsive">
        <thead>
          <tr class="bg-light">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead> 

      </table>
    </div>
  </div>
  <!-- Logout Button -->
</div>

<%-include('footer')-%>
