


<%-include('header')-%>
<a class="btn btn-secondary mx-3 my-3 text-white" href="/dashboard">Back</a>
<form id="createUser-form" method="POST">
  <h2>Create User</h2>

  <div class="mb-3">
    <label for="email" class="form-label">Username</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
  </div>

  <div class="mb-3">
    <label for="firstname" class="form-label">Firstname</label>
    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="name" required>
  </div>

  <div class="mb-3">
    <label for="lastname" class="form-label">Lastname</label>
    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="name" required>
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="+91-564-748-3467" required>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>


<%-include('footer')-%>



