


<%-include('header')-%>

<form id="createUser-form">
  <h2>Create User</h2>
  <div class="input-field">
    <label for="email">Username</label>
    <input type="email" id="email" placeholder="email" name="email" />
  </div>

  <div class="input-field">
    <label for="password">Password</label>
    <input type="password" id="password" placeholder="password" name="password" />
  </div>

  <div class="input-field">
    <label for="firstname">Firstname</label>
    <input type="name" id="firstname" placeholder="name" name="firstname" />
  </div>

  <div class="input-field">
    <label for="lastname">Lastname</label>
    <input type="name" id="lastname" placeholder="name" name="lastname" />
  </div>

  <div class="input-field">
    <label for="phone">Phone</label>
    <input type="text" id="phone" placeholder="+91-564-748-3467" name="phone" />
  </div>

  <div class="button">
    <input type="submit" id="btn" value="create">
  </div>
</form>

<%-include('footer')-%>

