<%-include('header')-%> 

<div class="container container-home">
    <h1>Welcome to UserX</h1>
    <p class="lead"> Our user management system makes it easy to add, edit, and delete user accounts.our user management tool provides a seamless and secure experience for you and your team.</p>

    <div class="row mt-5">
      <div class="col-md-1 me-3 ">
        <a href="/admin/login" class="btn btn-lg btn-primary">Admin</a>
      </div>
      <div class="col-md-1">
        <a href="/login" class="btn btn-lg btn-secondary">User</a>
      </div>
    </div>
  </div>

<%-include('footer')-%>


