<%-include('header')-%> 

<div class="container container-home">
    <h1>Welcome to My Website</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut nisi vel erat bibendum feugiat. Sed ut erat eget enim faucibus bibendum eu non lectus. Suspendisse potenti.</p>

    <div class="row mt-5">
      <div class="col-md-1 me-3 ">
        <a href="/admin/login" class="btn btn-lg btn-primary">Admin</a>
      </div>
      <div class="col-md-1">
        <a href="/login" class="btn btn-lg btn-secondary">User</a>
      </div>
    </div>
  </div>

<%-include('footer')-%>


